.container button {
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.container button.dark {
  color: white;
  background-color: black;
  border: 1px solid white;
}
