.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.container .imgBox {
  position: relative;
  display: flex;
  justify-content: center;
  width: 30%;
  height: 25vh;
  object-fit: contain;
  object-fit: cover;
}
