.container {
  width: 500px;
  height: 250px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.container .imgBox {
  scroll-snap-align: center;
}

.container::-webkit-scrollbar {
  height: 0.6rem;
}

.container::-webkit-scrollbar-track {
  background: white;
}

.container::-webkit-scrollbar-thumb {
  background: black;
}
